<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <strong>Ubicación</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="map" style="height: 80%; width: 100%;"></div>
  <ion-button expand="full" color="primary" (click)="addMarker()">Añadir Marcador</ion-button>
  <ion-button expand="full" color="secondary" (click)="centerMapOnCurrentLocation()">Mi Ubicación</ion-button>
</ion-content>
