<ion-header class="ion-no-border">
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-menu-button>
            </ion-menu-button>
        </ion-buttons>
        <ion-title>
            <strong>Usuarios</strong>
            <div style="font-size: 13px;">D A R K</div>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="medium" routerLink="sing-up">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>


</ion-content>