<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
      <ion-buttons slot="start">
          <ion-menu-button>
          </ion-menu-button>
      </ion-buttons>
      <ion-title>
          <strong>Perfil</strong>
          <div style="font-size: 13px;">D A R K</div>
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-icon class="avatar-icon" name="person-circle-outline"></ion-icon>
    
    <h4>{{user()?.name}}</h4>
    <h6>{{user()?.rol}}</h6>
    <h6>{{user()?.email}}</h6>

</ion-content>