<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
      <ion-buttons slot="start">
          <ion-menu-button>
          </ion-menu-button>
      </ion-buttons>
      <ion-title>
          <strong>Terrenos</strong>
          <div style="font-size: 13px;">D A R K</div>
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div id="map" style="height: 80%; width: 100%;"></div>
  <ion-button color="medium" expand="full" (click)="calculateAreaAndPerimeter()">Calcular Área y Perímetro</ion-button>
  <ion-button color="medium" expand="full" (click)="clearMap()">Limpiar mapa</ion-button>

  <p *ngIf="Varea !== null">Área: {{ Varea | number:'1.0-2' }} m²</p>
  <p *ngIf="Vperimetro !== null">Perímetro: {{ Vperimetro | number:'1.0-2' }} m</p>
  <ion-button color="medium" expand="full" (click)="openUserSelection()">Seleccionar Usuarios</ion-button>
  
 <ion-button color="medium" expand="full" (click)="openUserSelection()">Nuevo</ion-button>
  <ion-list *ngIf="showUserList">
    <ion-item *ngFor="let user of users$ | async">
      <ion-label>{{ user.name }}-{{ user.rol }}</ion-label>
      <ion-checkbox slot="start" (ionChange)="toggleUserSelection(user)"></ion-checkbox>
    </ion-item>
    <ion-button color="primary" expand="full" (click)="requestLocations()">Solicitar Ubicaciones</ion-button>
  </ion-list>
</ion-content>