<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <strong>Terrenos</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="map" style="height: 50%; width: 100%;"></div>
  <ion-list>
    <ion-item *ngFor="let marker of selectedMarkers">
      <ion-label>
        <h2>{{ marker.getPosition().lat() }}, {{ marker.getPosition().lng() }}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Información del Terreno</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Área: {{ area | number:'1.2-2' }} km²</p>
      <p>Distancias:</p>
      <ul>
        <li *ngFor="let distance of distances">{{ distance | number:'1.2-2' }} km</li>
      </ul>
    </ion-card-content>
  </ion-card>
</ion-content>
